extends ../../layout

block content
    .container
        .jumbotron
            p Voici le document numéro #{id}
            p #{unDocument.titre}
            p #{unDocument.resume}
            if unDocument.isbn
                p Ecrit par #{unAuteur.nom} #{unAuteur.prenom}

            a(href='/catalogue/document/documentDetail/'+id+'/exemplaire') Voir les exemplaires pour ce livre
