extends ../../layout

block content
    .jumbotron
        p Voici le livre numéro #{id}
            p #{unLivre.titre}
            p #{unLivre.resume}
            p Ecrit par #{unAuteur.nom} #{unAuteur.prenom}
